@model OrderVM

<form method ="post">
    <input asp-for="OrderHeader.Id" hidden />
    <div class="container">
        <div class="card-header shadow bg-primary py-2">
            <div class="container row py-2">
                <div class="col-12 d-md-block col-md-6">
                    <h3>Order Summary</h3>
                </div>
                <div class="col-12 col-md-4 offset-md-2 text-right pt-1">
                    <a asp-action="Index" class="btn form-control btn-sm btn-dark">Back to Order</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container p-2 bg-secondary">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-4">
                        <div class="row col-lg-6 pb-2">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span>Pickup Details</span>
                            </h4>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Fist Name</label>
                            </div>
                            <div class="col-9">
                                <!--Only allow admins or employees to edit-->
                                @if(User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee)){
                                    <input asp-for="OrderHeader.FirstName" type="text" class="form-control"/>
                                    <span asp-validation-for="OrderHeader.FirstName" class="text-danger"></span>
                                }
                                else{
                                    <input asp-for="OrderHeader.FirstName" readonly type="text" class="form-control"/>
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Last Name</label>
                            </div>
                            <div class="col-9">
                                <!--Only allow admins or employees to edit-->
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.LastName" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.LastName" class="text-danger"></span>
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.LastName" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Phone</label>
                            </div>
                            <div class="col-9">
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.PhoneNumber" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Street Address</label>
                            </div>
                            <div class="col-9">
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.StreetAddress" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.StreetAddress" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>City</label>
                            </div>
                            <div class="col-9">
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.City" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.City" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>State</label>
                            </div>
                            <div class="col-9">
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.State" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.State" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Postal Code</label>
                            </div>
                            <div class="col-9">
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.PostalCode" type="text" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PostalCode" class="text-danger"></span>
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.PostalCode" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Email</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.ApplicationUser.Email" readonly type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Order Date</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.OrderDate" readonly type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Carrier</label>
                            </div>
                            <div class="col-9">
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.Carrier" id="carrier" type="text" class="form-control" />
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.Carrier" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Tracking</label>
                            </div>
                            <div class="col-9">
                                @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                                {
                                    <input asp-for="OrderHeader.TrackingNumber" id="trackingNumber" type="text" class="form-control" />
                                }
                                else
                                {
                                    <input asp-for="OrderHeader.TrackingNumber" readonly type="text" class="form-control" />
                                }
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">
                                <label>Shipping Date</label>
                            </div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.ShippingDate" readonly type="text" class="form-control" />
                            </div>
                        </div>
                        @if (User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Session ID</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.SessionId" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Payment Intent ID</label>
                                </div>
                                <div class="col-9">
                                        <input asp-for="OrderHeader.PaymentIntentId" type="text" class="form-control" />
                                </div>
                            </div>
                        }
                        @if(Model.OrderHeader.SessionId == null)
                        {
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Payment Due Date</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentDueDate" readonly type="text" class="form-control" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Payment Date</label>
                                </div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentDate" readonly type="text" class="form-control" />
                                </div>
                            </div>
                        }
                        
                        <div class="row my-1 pb-2">
                            <div class="col-3">
                                <label>Payment Status</label>
                            </div>
                            <div class="col-9">
                                    <input asp-for="OrderHeader.PaymentStatus" readonly type="text" class="form-control" />
                            </div>
                        </div>
                        <!--Update-->
                        @if(User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                            <button type="submit" asp-action="UpdateOrder" class="btn btn-warning col-12">Update Details</button>
                        }
                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span>Order Summary</span>
                        </h4>
                        <div class="text-center border py-2 bg-dark">
                            <bold class="text-warning">Order Status: @Model.OrderHeader.OrderStatus</bold>
                        </div>
                        <ul class="list-group mb-3 pt-2">
                            @foreach(var prod in Model.OrderDetails)
                            {
                                <li class="list-group-item d-flex justify-content-between border">
                                    <div class="row container">
                                        <div class="col-8">
                                            <h6 class="my-0 text-primary">@prod.Product.Title</h6>
                                            <small>Price: @prod.Price.ToString("c")</small>
                                            <small>Quantity : @prod.Count</small>
                                        </div>
                                        <div class="col-4 text-end">
                                            <p class="text-success">@(prod.Count * prod.Price)</p>
                                        </div>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item bg-primary">
                                <div class="row container">
                                    <div class="col-6">
                                        <h5 class="text-white">TOTAL</h5>
                                    </div>
                                    <div class="col-6 text-end">
                                        <h5 class="text-white">@Model.OrderHeader.OrderTotal.ToString("c")</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!--If payment status is delayed and order is shipped-->
                        @if(Model.OrderHeader.PaymentStatus == StaticDetail.PaymentStatusDelayedPayment && 
                        Model.OrderHeader.OrderStatus == StaticDetail.StatusShipped){
                            <button type="submit" class="btn btn-success form-control my-1">Pay Now</button>
                        }
                        <!--Make sure only employee or admin can see and use-->
                        @if(User.IsInRole(StaticDetail.Role_Admin) || User.IsInRole(StaticDetail.Role_Employee))
                        {
                            if(Model.OrderHeader.OrderStatus == StaticDetail.StatusApproved)
                            {
                                <button type="submit" asp-action="StartProcessing" class="btn btn-primary form-control my-1">Start Processing</button>
                            }
                            if (Model.OrderHeader.OrderStatus == StaticDetail.StatusInProcess)
                            {
                                <button type="submit" onClick="return validateInput()" asp-action="ShipOrder" class="btn btn-primary form-control my-1">Ship Order</button>
                            }
                            if (Model.OrderHeader.OrderStatus != StaticDetail.StatusRefunded &&
                            Model.OrderHeader.OrderStatus != StaticDetail.StatusCanceled &&
                            Model.OrderHeader.OrderStatus != StaticDetail.StatusShipped)
                            {
                                <button type="submit" asp-action="CancelOrder" class="btn btn-danger form-control my-1">Cancel Order</button>
                            }
                           
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>
        function validateInput(){
            if(document.getElementById("trackingNumber").value == ""){
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter tracking number',
                });
                return false;
            }
            if (document.getElementById("carrier").value == "") {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please enter carrier',
                });
                return false;
            }
            else{
                return true;
            }
        }
    </script>
}